@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import "./tailwind.css";
@import "./icons.css";
@import "./quill.css";

body {
	color: #333;
	font-family: "Noto Sans KR", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	zoom: 90%;
}

button {
	@apply select-none;
}

.inputProps {
	@apply pl-[54px] w-full h-[60px] border border-[#616161] rounded-[10px]
    text-[16px] text-[#333333] placeholder-[#616161]
    focus:outline-none focus:border-[#06B796]
    group-hover:border-[#06B796] group-hover:placeholder-[#06B796]
    placeholder:transition-colors;
}

.iconProps {
	@apply absolute left-4 top-1/2 -translate-y-1/2 w-[24px] h-[24px] bg-no-repeat;
}

.inputBirth {
	@apply pl-[54px] w-[226px] h-[60px] mr-[18px] border border-[#616161] rounded-[10px] 
    text-[16px] placeholder-[#616161] 
    focus:outline-none focus:border-[#06B796] 
    group-hover:border-[#06B796] group-hover:placeholder-[#06B796]
    placeholder:transition-colors;
}

.inputGender {
	@apply w-[50px] h-[60px] ml-[18px] border border-[#616161] rounded-[10px] 
    text-center text-[16px] focus:outline-none focus:border-[#06B796];
}

.handleApply {
	@apply cursor-pointer leading-3.5 rounded-lg px-[15px] py-2 text-white;
}

.sub_title_number {
	@apply text-lg font-medium text-[#06b796] ml-2;
}

/* swiper pagination */
.custom-bullet {
	@apply inline-block w-[12px] h-[12px] bg-[#CDCDCD] rounded-full mx-[4px] opacity-100 transition-colors duration-300 cursor-pointer;
}
.custom-bullet-active {
	@apply w-[36px] bg-[#06B796];
}
