@import "tailwindcss";

@layer components {
	.post-input-title {
		display: block;
		font-weight: medium;
		font-size: 20px;
		margin-bottom: 10px;
	}

	.input-style {
		width: 512px;
		border-bottom: 1px solid #cdcdcd;
		padding-inline: 10px;
		padding-block: 15px;
	}

	.input-style:placeholder {
		color: #cdcdcd;
	}

	.cond-btn {
		display: inline-block;
		width: 80px;
		text-align: center;
		padding-block: 14px;
		margin-right: 16px;
		border-radius: 8px;
		cursor: pointer;
		border: 2px solid transparent;
		background-color: #f3f4f6;
	}
}
